/* Estilos base */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}   

body {
    position: relative;
    margin-bottom: 100px; /* Ajusta según la altura del pie de página */
}

.opacidad {
    position: relative;
    color: #fdfdfd;
}

.contenedor {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
}

.contenedor h1 {
    margin: 5%;
    background-color: #74A171;
    columns: 1;
    padding: 20%;
}

a {
    text-decoration: none;
}

img {
    width: 150px;
}

.carousel-item {
    height: 800px;
}

/* PRODUCTOS DESTACADOS */

.kodfun-galeri {
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.kodfun-galeri>div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.kodfun-galeri>div:hover {
    flex: 5;
}

h2 {
    text-align: center;
}

/* FOOTER */

footer {
    width: 100%;
}

.pie-pagina {
    width: 100%;
    background-color: #071b17;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 30px 0px;
}

.pie-pagina .grupo-1 .loguito,
.pie-pagina .grupo-1 .box figure {
    background-color: #fdfdfd;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2,
.pie-pagina .grupo-1 .box p {
    color: #fdfdfd;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fdfdfd;
    margin-right: 10px;
    background-color: #08201c;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #08201c;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

/* TARJETITAS */

.tarjetitas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 3px;
    box-sizing: border-box;
    padding: 90px;
    max-width: 800px;
    margin: auto;
    place-items: center;

}

.tarjetitas img {
    max-width: 100%;
    width: 50px;
    height: auto;
    display: block;
    margin: 0 10px;
}

.icon-logo {
    width: 5%;
}

.item {
    color: #fdfdfd;
    border: #fff 1px solid;
    height: 5px;
    margin: 0.5%;
    padding: 0.5%;
    border-radius: 20px;
}

.pie-pagina .grupo-1 .box .menu {
    color: rgb(255, 255, 255);
    font-family: arial;
    text-decoration: none;
    text-align: center;
    line-height: 2;
}

.footer-menu {
    list-style-type: none;
}

.contact-info {
    text-decoration: none;
    color: #fdfdfd;
    margin-bottom: 25px;
    font-size: 15px;
}

a:hover+.contact-info,
a:hover {
    color: #74A171;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    .pie-pagina .grupo-1 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .pie-pagina .grupo-1 {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .contenedor h1 {
        padding: 10%;
    }

    .tarjetitas {
        width: 100%;
        flex-direction: column;
    }

    .tarjetitas img {
        margin: 10px 0;
    }
}

