body {
    background-color: #ffffff;
    font-family: system-ui;
}

.container {
    max-width: 1000px;
    margin: auto;
    transition: 0.5s;
    padding: 0 20px;
}

header {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 20px;
}

header .shopping {
    text-align: right;
}

header .shopping img {
    width: 30px;
}

header .shopping span {
    left: 70%;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.list .item {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
    padding: 10px;
}

.list .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.list .item .title {
    font-weight: 600;
}

.list .item .price {
    margin: 10px;
}

.list .item button {
    background-color: #74A171;
    color: #ffffff;
    width: 100%;
    padding: 10px;
}

.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    max-width: 500px;
    background-color: #453e3b;
    height: 100vh;
    transition: 0.5s;
}

.active .card {
    left: calc(100% - 500px);
}

.active .container {
    transform: none;
}

.card h1 {
    color: #ffffff;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkOut div {
    background-color: #74A171;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkOut div:nth-child(2) {
    background-color: #1C1F25;
    color: #fff;
}

.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}

.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img {
    width: 90%;
}

.listCard li button {
    background-color: #fff5;
    border: none;
}

.listCard .count {
    margin: 0 10px;
}
